.banner {

  &__block {
    background-color: rgba(131, 179, 211, 0.12);
    background-image: url('../img/banner/index-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    text-align: center;
    padding: 50px 0 80px;
  }

}

