.offer {
  text-align: center;
  padding: 90px 0;

  .title {
      margin-bottom: 30px;

  }

  .text {
      margin-bottom: 56px;
  }

  .button {
      display: block;
      padding: 15px;
      width: 50%;
      margin: 0 auto;
      font-size: 20px;
      line-height: 30px;
      border-radius: 10px;
  }
}
